<ion-content [fullscreen]="false">
  <ion-grid>
    <ion-col>
      <ion-card>
        <ion-text>exemplo1</ion-text>
      </ion-card>
      <ion-card>
        <ion-text>exemplsagsdfgsdfo1 </ion-text>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-text>exemplo1</ion-text>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-text>exemplo1</ion-text>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-text>exemplo1</ion-text>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-text>exemplo1</ion-text>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
